body.theme-spring{--bg:#fbf5f4;--surface:#fffafa;--accent:#d487a0}
body.theme-summer{--bg:#f1f8fa;--surface:#fbffff;--accent:#5c9fb1}
body.theme-autumn{--bg:#f6f0e8;--surface:#fffdf9;--accent:#a77b65}
body.theme-winter{--bg:#f1f3f7;--surface:#fcfdff;--accent:#7184a6}
body.theme-halloween{--bg:#f4eee9;--surface:#fffaf6;--accent:#a25b31}
body.theme-christmas{--bg:#f5f1ef;--surface:#fffdfb;--accent:#9b5b5b}
